.myPets {
min-height: 100vh;
}

.titleMyPets {
    font-style: italic;
    font-family: fantasy;
    font-size: larger;
    margin-right: 5px;
    color: #F8A97A;
}

.tab-container {
    display: flex;
    justify-content: center;
}

.adminContact {
    background-color: #F8A97A;
    color: white;
    padding: 5px;
    border-radius: 5px;
    width: fit-content;
    margin: auto;
}

.tab {
    font-size: large;
    margin: 15px;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 20px;
}.tab:hover {
    background-color: #F8A97A;
    color: white;
    cursor: pointer;
}

.active {
    color: white;
    background-color: #F8A97A;
    border: none;
    border-bottom:2px black;
}

.separatorMyPets {
    border-top: 1px solid #ccc;
    max-width: 600px;
    margin: auto;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .separatorMyPets {
        max-width: 70%;
    }
}